<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wakiedokie.waikiedokie">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.AlarmMainActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".ui.AlarmEditTimeActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".ui.AlarmSelectBuddyActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".ui.AlarmConfirmActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".ui.AlarmEditTypeActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".ui.AlarmStatusActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".ui.SetVideoActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".ui.ConfirmVideoActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".ui.SetQuizActivity"
            android:label="@string/app_name" >
        </activity>





        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />




    </application>

</manifest>
